

.nav-bar-container {
  max-width: 1400px !important
}


.custom-background{
  background-color: rgb(29,85,159);
  margin-bottom: 70px;
  height: 500px;
}

.custom-background a{
  padding-left: 10px !important;
  padding-right: 12px !important
}


.nav-bar-container {
  margin-top: -350px;
}

.navbar-brand{
  color: white !important;
}

.bell {
  background: #444;
  color: #fff;
  display: inline-block;

  position: relative;
  user-select: none;
}

.bell > span {
  cursor: pointer;
  display: inline-block;
  padding: 8px 10px;
  position: relative;
}

.bell > span.has-notifications:after {
  color: red;
  content: "\00B7";
  position: absolute;
  font-size: 42px;
  right: 6px;
  top: -9px;
}

div.notification-hub {
  background: #f9f9f9;
  border-radius: 4px;
  border-top-right-radius: 0;
  box-shadow: 0 2px 3px 0 #bbb;
  color: #333;
  /* height: 80vh; */
  right: 0;
  position: absolute;
  text-align: right;
  top: 100%;
  width: 40vh;
  z-index:9999
}

.notification-hub header {
  background: #f4f5f6;
  padding: 15px;
  text-align: left;
}

.notification-hub a {
  float: right;
  font-size: 12px;
  margin-top: 3px;
  text-decoration: none;
}

.notification-hub ul {
  border-top: 1px solid #ddd;
  text-align: left;
}

.notification-hub li {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

/* .process:nth-child(even) {
  background: #f9f9f9;
} */
.process-title,
.process-started-at,
.process-percentage {
  display: inline-block;
  margin-bottom: 2px;
  width: 100%;
}
.process-title {
  font-weight: bold;
}
.process-started-at {
  margin-bottom: 5px;
}
.process-started-at,
.process-percentage {
  font-size: 12px;
}
.process-percentage {
  background-color: #777;
  border: 2px solid #777;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  height: 19px;
  margin-bottom: 0;
  padding: 2px 4px;
  position: relative;
  text-align: right;
  transform: background-color 2s ease;
  width: 100%;
  overflow: hidden;
}

/* .process-percentage > span.incomplete {
  background-color: #d6cf01;
} */

.process-percentage > span {
  background: #6cc708;
  position: absolute;
  padding: 2px 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  ); */
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}